<div class="form-group">
  <%= f.email_field :email, :class => "form-control",:placeholder => "E-mail" , :autofocus => true , :required => true %>
</div>
<div class="form-group">
  <%= f.text_field :first_name, :class => "form-control",:placeholder => "First name" %>
</div>
<div class="form-group">
  <%= f.text_field :last_name, :class => "form-control",:placeholder => "Last name" %>
</div>
<div class="form-group">
  <%= f.text_field :address, :class => "form-control",:placeholder => "Address" %>
</div>
<div class="form-group">
  <%= f.text_field :birthday, :class => "form-control", :id => "input_birthday" ,:placeholder => "Birthday(dd/mm/yyyy)" %>
</div>
<div class="form-group">
  <ul class="list-inline">
   <li><%= f.check_box :gender %>&nbsp;Male</li>
   <!-- <li><%= f.file_field :avatar,:title => "Upload avatar here", :style =>"width: 260px;" %></li> -->
   <li><input type="file" id="myUpload" style="display:none" name="user[avatar]"/>
    <button type="button"  class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="javascript:document.getElementById('myUpload').click();">Upload Avatar</button></li>
  </ul>
</div>
<hr/>
<script>
  $('#input_birthday').datepicker({
    format: "dd/mm/yyyy",
    todayBtn: "linked",
    orientation: "top auto",
    multidate: false,
    autoclose: true,
    todayHighlight: true
  });
</script>