<!-- Form for create new post, edit old post -->
<%= form_for @post, :html => { :multipart => true }, :remote => true do |f| %>
<div id="notice">
<%= render  partial: '/shared/flash/flash_messages', locals: {notice_type:"alert"} %>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="well">
      <div>
        <%= f.label :Title %>
        <%= f.text_field :title, :required => true , class: "form-control" %>
      </div>
      <div>
        <%= f.label :Description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <br/>
      <div>
        <%= f.label :tag_list, "Category (separated by commas)" %><br />
        <%= f.text_field :tag_list, value: @post.tag_list.to_s %>
      </div>
      <br/>
      <div>
        <%= f.label :Thumbnail %>
        &nbsp;
        <input type="file" id="thumb_upload" style="display:none" name="post[thumbnail]"/>
        <button type="button"  class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="javascript:document.getElementById('thumb_upload').click();">Upload Image</button>
      </div>
      <br/>
      <div>
        <%= f.label :Status %>
        <%= f.check_box :status %>
      </div>
          <!-- hidden_field store user_id -->
          <%= f.hidden_field :user_id, :value => current_user[:id]  %>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="well">
          <%= f.label :Content %>
          <%= f.text_area :content, class: "form-control", :required => true, :id => "ckedit_content" %>
    </div>
      <!-- Check current page to show button need -->
      <% if  request.fullpath == "/posts/new" %>
        <%= f.submit 'Create Post', :class => 'btn btn-success pull-right', :disable_with => "Create..." %>
      <% else %>
        <%= f.submit 'Edit Post', :class => 'btn btn-success pull-right', :disable_with => "Edit..."%>
      <% end %>
  </div>
    <div>
      <br/>
    </div>
</div>
<% end %>
<br/>
<script>
  CKEDITOR.replace("ckedit_content");
</script>

