<p id="notice"><%= notice %></p>

<p>
  <strong>Ten:</strong>
  <%= @nha_cung_cap.ten %>
</p>

<p>
  <strong>Dia chi:</strong>
  <%= @nha_cung_cap.dia_chi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nha_cung_cap.email %>
</p>

<p>
  <strong>So dien thoai:</strong>
  <%= @nha_cung_cap.so_dien_thoai %>
</p>

<%= link_to 'Edit', edit_nha_cung_cap_path(@nha_cung_cap) %> |
<%= link_to 'Back', nha_cung_caps_path %>
