
<%- model_class = Post -%>
<div class="row">
  <div class="col-sm-12">
    <h6 class="media-heading date detail"><%= date_format(@post.created_at) %> | Author: <a href="#"><%= @post.user.username %></a></h6>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-8">
      <h4 class="text-justify"><%= @post.title%></h4>
      <p class="text-justify"><%= @post.description%></p>
      <p class="text-center"><a href="#"><%= image_tag @post.image.url(:medium) %></a></p>
      <p class="text-justify"><%= raw(@post.content)%></p>
    </div>
    <div class="col-sm-4">
     <div class="well">Post read more<span class="badge pull-right"><%=@post_of_users.count%></span></div>
     <ul class="list-group">
      <%@post_of_users.each do |post_of_user|%>
      <li class="list-group-item">
        <i class="glyphicon">(<%= post_of_user.count_view%>)</i> 
        <small>(<%= date_format(post_of_user.created_at)%>)
        </small> 
        <%=link_to post_of_user.title.capitalize,post_of_user %></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-8">
    <div id="allHolder">
      <form action=<%= comments_path%> method="post">
        <div id ="commentsHolder">
          <textarea id ="commentBodyField" rows="3" name="comment[content]" placeholder="Enter your comment..."></textarea>
        </div>
        <div class="postCommentButtonHolder">
          <input hidden name="comment[post_id]" value=<%=@post.id%>></input>
          <% if current_user%>
          <input hidden id="user_id" name="comment[user_id]" value=<%=current_user.id%>></input>
          <%else%>
          <input hidden id="user_id"  name="comment[user_id]" value="0"></input>
          <%end%>
          <button type="submit" id="comment" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-8">
    <div class="detailBox">
      <div class="titleBox">
        <label>All Comment</label>
      </div>
      <div class="commentBox">
      </div>
      <div class="actionBox">
        <ul class="commentList">
          <% @comments.each do |comment|%>
          <li>
            <div class="commenterImage">
             <%= image_tag comment.user.avatar.url(:medium) %>
           </div>
           <div class="commentText">
            <cite class="user"><%= comment.user.username%>
              <span class="date sub-text"><%= date_format(comment.created_at)%></span>
            </cite>
            <p class=""><%= comment.content%></p>
            <%if current_user && current_user.id == comment.user_id%>
            <a href="#" data-toggle="modal" data-target="#cm_<%=comment.id%>">Edit</a>
            <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
            <div class="modal fade" id="cm_<%=comment.id%>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit comment</h4>
                  </div>
                  <div class="modal-body">
                    <form action=<%= update_comment_post_path%> method="post">
                      <div id ="commentsHolder">
                        <textarea id ="comment_update" rows="3" name="comment[content]">
                          <%=comment.content%>
                        </textarea>
                        <input hidden name="comment[post_id]" value=<%=@post.id%>></input>
                        <input hidden name="comment[id]" value=<%=comment.id%>></input>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <%end%>
          </div>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>
</div>
<div class="col-sm-12">
 <div class="col-sm-8">
  <p>
    <% if current_user.nil? %>
    <%= link_to "Back", homes_path,:class => 'btn btn-xs btn-danger' %>
    <%else%>
    <%= link_to 'Edit', edit_post_path(@post),:class => 'btn btn-default btn-xs' %>
    <%= link_to "Back", posts_path,:class => 'btn btn-xs btn-danger' %>
    <%end%>
  </p>
</div>
</div>
</div>

<script type="text/javascript">
jQuery(function(){
  $("#comment").click(function(){
    $(".error").hide();
    var hasError = false;
    var content = $("#commentBodyField").val();
    var user_id = $("#user_id").val();
    
    if (content == '') {
      $("#commentBodyField").after('<span class="error">Please enter a content.</span>');
      hasError = true;
    }else if (user_id == 0) {
      $("#commentBodyField").after('<span class="error">Please login use comment.</span>');
      hasError = true;
    }

    if(hasError == true) {return false;}
  });
});
</script>