<script type="text/javascript">
$(function () {
	$('#user_birthday').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		format:"dd-mm-yyyy",
    });
});
</script>
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div class="error_messages">
	<h2>Form is invalid</h2>
	<ul>
		<% for message in @user.errors.full_messages %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="container-fluid" style="padding-top:15px;padding-bottom:20px">
	<% if flash[:user_update] %>
	<div class="alert alert-success" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<%= flash[:user_update] %>
	</div>
	<% end %>
	<% if flash[:user_update_f] %>
	<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>	 
		<%= flash[:user_update_f] %>  		
	</div>
	<% end %>
	<form class="form-horizontal" role="form">
		<div class="row">
			<div class="col-md-12">
				<span class="btn btn-primary blue-tab no-blue-border-top">Basic info</span>
			</div>
		</div>
		<div class="container-fluid blue-border">
			<div class="col-md-6 col-md-offset-1">
				<div class="form-group">
					<%= f.label :username, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit">
						<%= f.text_field :username, :class => 'form-control',:required=>"" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :first_name, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit" >
						<%= f.text_field :username, :class => 'form-control',:required=>"" %>
					</div>
				</div>
				<div class="form-group">
					<%= f.label :last_name, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit">
						<%= f.text_field :last_name, :class => 'form-control',:required=>"" %>
					</div>
				</div>
				<div class="form-group">
					<label for="gender" class="col-md-3 control-label">Gender</label>
					<div class="col-md-9 top_edit">
						<%= f.select(:gender,options_for_select(genders, :selected => f.object.status),{},{:class => 'form-control'})%>							
					</div>
				</div>
				<div class="form-group">
					<%= f.label :birthday, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit bottom_edit" style="display:inline-flex">
						<%= f.text_field :birthday, :class => 'form-control' %>	
					</div>
				</div>
			</div>

			<div class="col-md-3" style="margin-top:10px">
				<div class="fileUpload btn btn-primary">	
					<span>Browse avatar</span>
					<%= f.file_field :avatar, :onchange=>"handlerInputFileChange(this)",:class=>"upload"%>
				</div>	
				<%= image_tag @user.avatar.url(:thumb), :class =>'img-thumbnail',:id =>"image-upload", :style=>"width:150px;height:150px;" %> 
			</div>
		</div>

		<div class="row" style="margin-top:20px;">
			<div class="col-md-12">
				<span class="btn btn-primary blue-tab no-blue-border-top">Contact info</span>
			</div>
		</div>
		<div class="container-fluid blue-border">
			<div class="col-md-6 col-md-offset-1" style="margin-top:10px">
				<div class="form-group">
					<%= f.label :email, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit">
						<%= f.text_field :email, :class => 'form-control',:required=>"" %>
					</div>
				</div>
				
				<div class="form-group">
					<%= f.label :address, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit bottom_edit">
						<%= f.text_field :address, :class => 'form-control' %>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-md-12">
				<span class="btn btn-primary blue-tab no-blue-border-top">Comfirm</span>
			</div>
		</div>
		<div class="container-fluid blue-border">
			<div class="col-md-6 col-md-offset-1" >
				<div class="form-group">
					<%= f.label :password, :class => 'col-md-3 control-label' %>
					<div class="col-md-9 top_edit bottom_edit">
						<input type="password" class="form-control" name="user[password]" id="user_password" type="text" required >
					</div>
					<input hidden name="flag" value="edit"></input>
				</div>
				<div class="form-group btn_save">	
					<button type="submit" class="btn btn-primary" style="border-radius:0px;">OK</button>
					<%= link_to 'CANCEL',homes_path, :class=>"btn btn-primary", :style=>"border-radius:0px;"%>
				</div>
			</div>
		</div>

	</form>
</div>
<% end %>

<script>
	function handlerInputFileChange(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#image-upload')
				.attr('src', e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>

