<script type="text/javascript">
 jQuery(function(){
        $("#change_pass").click(function(){
        $(".error").hide();
        var hasError = false;
        var password_old = $("#user_password_old").val();
        var password = $("#user_password").val();
        var checkVal = $("#user_password_confirmation").val();
        if (password_old == '') {
            $("#user_password_old").after('<span class="error">Please enter a password current.</span>');
            hasError = true;
        }else if (password == '') {
            $("#user_password").after('<span class="error">Please enter a password.</span>');
            hasError = true;
        } else if (checkVal == '') {
            $("#user_password_confirmation").after('<span class="error">Please re-enter your password.</span>');
            hasError = true;
        } else if (password != checkVal ) {
            $("#user_password_confirmation").after('<span class="error">Passwords do not match.</span>');
            hasError = true;
        }
        if(hasError == true) {return false;}
    });
});
</script>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class = "text-center"></h1>
		<%= form_for @user do |f| %>
		<% if flash[:change] %>
		<div class="alert alert-success" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>
			<%= flash[:change] %>
		</div>
		<% end %>
		<% if flash[:unchange] %>
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">Close</span>
			</button>	 
			<%= flash[:unchange] %>  		
		</div>
		<% end %>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td><%= f.label :password_old %></td>
					<td><%= f.password_field :password_old, :class => 'form-control',:placeholder=>"Enter current password"%></td>
				</tr>
				<tr>
					<td><%= f.label :password %></td>
					<td><%= f.password_field :password, :class => 'form-control',:placeholder=>"Enter password new" %></td>
				</tr>
				<tr>
					<td><%= f.label :password_confirmation %></td>
					<td><%= f.password_field :password_confirmation, :class => 'form-control',:placeholder=>"Enter confirm password new"  %></td>
				</tr>
			</tbody>
		</table>
		<p class="button text-center"><%= f.submit 'Save', class: "btn btn-primary", :id =>"change_pass"%>
	     <%= link_to 'Cancel', homes_path, class: "btn btn-danger", :id =>"change_pass"%></p>
		<% end %>
	</div>
</div>
