<% if !params[:user_post].blank?%>
<ol class="breadcrumb error">
  <li>
    <%- model_class = Post -%>
    About <%= flash[:count] %> result of 
    <a href="#"><%= flash[:name].username %></a> post
  </li>
</ol>
<%end%>
<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <%= flash[:notice] %>
</div>
<%end%>
<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-toggle").dropdown();
  });  
</script>
<div class="col-lg-10">
  <% @posts.each_with_index do |post, idx| %>
  <% if idx % 2 == 0 %>
  <div class="row">
    <%end %>
    <div class="col-md-6 portfolio-item">
      <div class="col-sm-4">
        <a href="#">
          <%= image_tag post.image.url(:thumb), :class =>'img-thumbnail' %>
        </a>
     </div>
     <div class="col-sm-8">
      <div class="dropdown badge pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b> </a>
        <ul class="dropdown-menu">
          <li><a href=<%= post_path(post)%>>Read more</a></li>
          <% if current_user && current_user.id == post.user_id%>
          <li><%= link_to 'Edit', edit_post_path(post)%></li>
          <li> <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }%></li>
          <%end%>
          <li class="divider"></li>
          <li><a href="#">Another action</a></li>
        </ul>
      </div>
      <div class="title">
        <a href="#"><%= link_to post.title.capitalize, post%></a>
      </div>
      <div class="date"> <%= date_format(post.created_at) %> | Author: <a href="#"><%= post.user.username%></a></div>
      <p class="text-justify">
       <%= post.description %>
     </p>
   </div>                
 </div>
 <% if idx % 2 != 0 %>
</div>
<%end %>
<%end%>
<div class="row text-center">
  <div class="col-lg-12">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
 </div>
</div>
</div>
<div class="col-lg-2">
  <div class="well">Post read more<span class="badge pull-right"><%=@post_read_mores.count%></span>
  </div>
  <ul class="list-group">
    <%@post_read_mores.each do |post_read_more|%>
    <li class="list-group-item">
      <i class="glyphicon">(<%= post_read_more.count_view%>)</i> 
      <small>(<%= date_format(post_read_more.created_at)%>)
      </small> 
      <%=link_to post_read_more.title.capitalize,post_read_more %></li>
      <%end%>
    </ul>
</div>